<!-- <div class="acctual-time-range">&lt; 30.1.22 &gt;</div> -->
<!-- <mat-form-field appearance="fill"> -->
<!-- <mat-label>Enter a date range</mat-label> -->
<!-- <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> -->
<!-- </mat-form-field> -->

<!-- DAY SELECTION -->
<!-- <mat-datepicker style="display: none" #picker touchUi="true"></mat-datepicker>
<input style="display: none" #date matInput [matDatepicker]="picker" /> -->

<!-- WEEK SELECTION -->
<mat-date-range-input style="opacity: 0" [rangePicker]="pickerWeek">
  <input #startDate matStartDate style="display: none" />
  <input #endDate matEndDate style="display: none" />
</mat-date-range-input>
<mat-date-range-picker #pickerWeek touchUi="true"></mat-date-range-picker>

<!-- MONTH SELECTION -->
<mat-datepicker
  #dp
  startView="year"
  panelClass="example-month-picker"
  touchUi="true"
  (monthSelected)="setMonthAndYear($event, dp)"
>
</mat-datepicker>
<input matInput [matDatepicker]="dp" [formControl]="date" />

<div class="selected-date" *ngIf="startDate?.value">
  <div>{{ startDate?.value || date.value }}</div>
  <div *ngIf="endDate.value">-</div>
  <div *ngIf="endDate.value">{{ endDate.value }}</div>
</div>

<!-- <mat-date-range-picker #picker></mat-date-range-picker>
<mat-date-range-input [rangePicker]="picker">
  <input matStartDate />
  <input matEndDate />
</mat-date-range-input> -->
<ul class="time-range-selection">
  <!-- <li class="clickable" (click)="picker.open()">Daily</li> -->
  <li class="clickable" (click)="pickerWeek.open()">Weekly</li>
  <li class="clickable" (click)="dp.open()">Monthly</li>
</ul>
