.form-button {
  border: 1px solid var(--accent-color);
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(88, 74, 94); // var(--secondary-color);
  color: rgb(206, 206, 206);
  font: var(--main-bold-font-family);
}

.login-error {
  color: rgb(187, 53, 53);
}
