<div class="container">
  <!-- <div class="top-container"> -->
  <h3>BPI Scoring</h3>
  <!-- </div> -->
  <div class="data-container">
    <div class="q-score-container">
      <div class="q-score">
        <div class="title">Current Score:</div>
        <div>7/10</div>
      </div>
      <div class="fill-date">Fill date: 2/10/2022</div>
    </div>
    <div class="q-score-container">
      <div class="q-score">
        <div class="title">Previous Score:</div>
        <div>6/10</div>
      </div>
      <div class="fill-date">Fill date: 2/9/2022</div>
    </div>
  </div>
</div>
