.outer-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    background-color: #ffffff17;
    margin: 0 auto;
    border-radius: 2vmin;
    width: 56%;
    height: 50%;
    min-width: 500px;
    min-height: 500px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 54%;
      align-items: center;
      margin: 0 auto;
      mat-form-field {
        width: 100%;
        ::ng-deep.mat-form-field-wrapper {
          width: 100%;
        }
      }
      .form-button {
        background-color: var(--accent-color);
        color: var(--secondary-complementry-color);
        padding: 15px;
        width: 40%;
        border-radius: 3vmin;
        display: flex;
        justify-content: center;
      }
      button:disabled {
        // background-color: rgb(89, 85, 95);
        color: var(--secondary-complementry-color);
        opacity: 0.5;
        cursor: default;
      }

      .login-error {
        color: rgb(187, 53, 53);
      }
      .example-container .mat-form-field + .mat-form-field {
        margin-left: 8px;
      }

      .example-right-align {
        text-align: right;
      }

      input.example-right-align::-webkit-outer-spin-button,
      input.example-right-align::-webkit-inner-spin-button {
        display: none;
      }

      input.example-right-align {
        -moz-appearance: textfield;
      }
    }
  }
}
