.container {
  display: flex;
  font-family: var(--main-font-family);
  font-size: 14px;
  width: 100%;
  gap: 20px;
  align-items: center;
  img {
    border-radius: 50%;
  }
  .info {
    display: flex;
    gap: 20px;
    li {
      align-self: center;
      .lable {
        font-family: var(--main-bold-font-family);
      }
      .value {
        font-family: var(--main-font-family);
        text-decoration: underline;
      }
    }
  }
}
